<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.mhacks.app.pref">

    <application
        android:name="org.mhacks.app.MHacksApplication"
        android:allowBackup="true"
        android:appCategory="image"
        android:extractNativeLibs="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        tools:targetApi="o">

        <activity
            android:name=".PrefActivity"
            android:theme="@style/Theme.MHacks.ActionBar"
            android:label="@string/settings"
            android:parentActivityName="org.mhacks.app.ui.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
    </application>

    <dist:module
        dist:instant="false"
        dist:title="@string/title_pref">
        <dist:delivery>
            <dist:on-demand />
        </dist:delivery>
        <dist:fusing dist:include="true" />
    </dist:module>

</manifest>

